@media screen and (max-width: 1080px) {

  section#profil .profil {
    flex-direction: column;
  }

  #profil .profil .right {
    display: none;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

  footer div {
    display: flex;
    align-items: center;
    justify-content: center!important;
    gap: 12px;
    flex: 1!important;
  }

  footer .logo {
    flex-direction: column;
    margin: 20px 0;
  }

  footer .socials {
    gap: 5%;
  }
  
}

@media screen and (max-width: 600px) {
  #profil .profil .left .me {
    flex-direction: column;
  }
  .navigation {
    width: 100%;
  }
  body.navigation-open {
    overflow: hidden;
  }
}