@media screen and (max-width: 1080px) {

  footer {
    flex-direction: column;
    text-align: center;
  }

  footer div {
    display: flex;
    align-items: center;
    justify-content: center!important;
    gap: 12px;
    flex: 1!important;
  }

  footer .logo {
    flex-direction: column;
    margin: 20px 0;
  }

  footer .socials {
    gap: 5%;
  }
  
}
