:root {
  --primary: #f2f2f2;
  --details: #d9d9d9;
  --menu: #96bfb7;
  --cursor: #00bfa6;
  --color: black;

  /* Burger customisation */
  --burger: var(--color);
  --burger-height: 30px;
  --burger-width: 50px;
  --burger-spacing-top: 50px;
  --burger-spacing-left: 50px;
  --burger-spacing: 3px;
  --burger-transition-duration: 725ms;
  --navigation-animation-duration: 300ms;
  --navigation-background-opacity: 1;

  /* Icons */
  --icons-invert: 0%;
}

body.dark {
  --burger: var(--color);
  --primary: #22263b;
  --details: #cba1bc;
  --menu: #7b044c;
  /* --cursor: #00BFA6; */
  --color: white;
  --icons-invert: 100%;
}

* {
  margin: 0;
  padding: 0;
  cursor: crosshair;
  user-select: none;
  color: var(--color);
}

/* BODY */
body {
  font-family: "Space Mono", monospace;
  background-color: var(--primary);
  transition: background 0.4s ease-in;
}

/* SECTION */
section {
  min-height: 100vh;
  height: 100vh;
}

/* H1 */
h1 {
  font-family: "Megrim", cursive;
  font-size: 40px;
  padding: 60px;
}

/* BURGER */
.burger {
  background: transparent;
  z-index: 9;
  position: fixed;
  top: var(--burger-spacing-top);
  left: var(--burger-spacing-left);
  height: var(--burger-height);
  width: var(--burger-width);
  transition: all 0.3s ease-in-out;
}

/* cursor */
.burger:hover {
  cursor: pointer;
}

.burger:before,
.burger:after {
  background: var(--burger);
  backface-visibility: hidden;
  content: "";
  height: var(--burger-spacing);
  left: 0;
  transition: var(--burger-transition-duration);
  width: var(--burger-width);
}

.burger:before {
  box-shadow: var(--burger) 0 14px 0 0;
  position: absolute;
  top: 0;
}

.burger:after {
  position: absolute;
  top: calc(100% - 2px);
}

.burger.active {
  z-index: 9;
}

.burger.active:before {
  /* z-index: 9; */
  box-shadow: transparent 0 0 0 0;
  top: 50%;
  transform: rotate(225deg);
}

.burger.active:after {
  top: 50%;
  transform: rotate(315deg);
}

/* NAV */
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: var(--navigation-background-opacity);
  position: fixed;
  z-index: 4;
  height: 100vh;
  top: 0;
  width: 300px;
  margin-left: -200%;
  background-color: var(--menu);
}

.navigation.active {
  animation: showNavigation ease-in var(--navigation-animation-duration)
    forwards;
}

.navigation.hidden {
  animation: hideNavigation ease-in-out var(--navigation-animation-duration)
    forwards;
}

.navigation .links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.navigation .links .link {
  text-align: center;
}

.navigation .links .link a {
  font-family: "Megrim", cursive;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation .links .home a img {
  width: 60px;
  height: 60px;
}

@keyframes showNavigation {
  0% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes hideNavigation {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -200%;
  }
}

/* LOGOS */
.icons {
  height: auto;
  width: auto;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: fixed;
  gap: 10px;
  z-index: 10;
}

/* anim */
.icons *:hover {
  opacity: 1;
  cursor: none;
}

/* size */
.icons a {
  max-height: 40px;
}

.icons a,
.icons .theme {
  height: 25px;
  width: 25px;
}

.icons img {
  opacity: 0.7;
  filter: invert(var(--icons-invert));
}

.icons .theme .logo {
  height: 100%;
  width: 100%;
}

/* HOME */
/* me */
#home {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .home {
  width: 100%;
  height: 100%;
  max-height: 450px;
  max-width: 1280px;
  display: flex;
  align-items: center;
  gap: 60px;
  background: url(../img/bg1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 70%;
}

#home .home .left {
  flex: 1;
  height: 100%;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

#home .home .left #name {
  font-size: 5vw;
  /* font-family: 'Modak', cursive; */
  font-family: "Megrim", cursive;
  letter-spacing: 4px;
}

#home .home .left #subtitle,
#home .home .left #me {
  font-size: 1.375vw;
  background-color: #60b4a93a;
}

#home .home .right {
  height: 100%;
  display: flex;
  flex: 1;
}

#home .home .right img {
  /* height: 400px;
  width: 380px; */
  max-width: fit-content;
  object-fit: contain;
}

/* #home .home .right img:hover {
  transition: all 300ms ease-in;
  transform: translate(10px);
} */

/* carousel */
input[type="radio"] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.container {
  width: 60%;
  max-width: 800px;
  max-height: 600px;
  height: 80%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #song-1 img,
#item-2:checked ~ .cards #song-2 img,
#item-3:checked ~ .cards #song-3 img {
  box-shadow: 0px 0px 10px 0px rgba(81, 81, 81, 0.47);
}

section#view-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

/* PROFIL */
#profil {
  display: flex;
  justify-content: center;
  background-color: var(--primary);
}

#profil .profil div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#profil .profil .me {
  margin-top: 150px;
}

#profil .profil .me div p {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 500px;
  text-align: justify;
}

/* SKILLS */

#skills .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#skills .skills img {
  width: 50vw;
  height: auto;
  object-fit: contain;
}

/* section#project{ */
/* <!-- #Fabio Ottaviani / @supah / codepen --> */
.carousel {
  position: relative;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  
}
.carousel-item {
  /* Carousel */
  /* --items: 10; */
  --width: clamp(150px, 30vw, 300px);
  --height: clamp(200px, 40vw, 400px);
  /* --x: calc(var(--active) * 800%);
    --y: calc(var(--active) * 200%);
    --rot: calc(var(--active) * 120deg); */
  --x: calc(var(--active) * 400%);
  --y: calc(var(--active) * 100%);
  --rot: calc(var(--active) * 70deg);
  /* --opacity: calc(var(--zIndex) / var(--items) * 3 - 2); */
  overflow: hidden;
  position: absolute;
  z-index: var(--zIndex);
  width: var(--width);
  height: var(--height);
  margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  user-select: none;
  transform-origin: 0% 100%;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.5);
  /* background: black; */
  pointer-events: all;
  transform: translate(var(--x), var(--y)) rotate(var(--rot));
  transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
}
.carousel-item .carousel-box {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  opacity: var(--opacity);
  font-family: "Megrim", cursive;
  font-weight: 600;
}

.carousel-item .title {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(20px, 3vw, 30px);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

/* right text */
.layout {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.layout:before {
  /* content: ""; */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 90px;
  width: 10px;
  height: 100%;
  border: 1px solid #fff;
  border-top: none;
  border-bottom: none;
  opacity: 0.15;
}
.layout .box {
  position: absolute;
  bottom: -100px;
  left: 30px;
  transform-origin: 0% 10%;
  transform: rotate(-90deg);
  font-size: 100px;
}

.cursor {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1px solid var(--cursor);
  margin: calc(var(--size) * -0.5) 0 0 calc(var(--size) * -0.5);
  transition: transform 0.85s cubic-bezier(0, 0.02, 0, 1);
  pointer-events: none;
}

.cursor.hidden {
  opacity: 0;
}

@media (pointer: fine) {
  .cursor {
    display: block;
  }
}
.cursor2 {
  --size: 2px;
  transition-duration: 0.7s;
}

/* FOOTER */
footer {
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  margin-top: -3vh;

}

footer a {
  text-decoration: none;
  color: inherit;
}
