:root {
  --primary: #f5f5ef;
  --details: #e1eadb;
  --menu: #114232;

  /* Burger customisation */
  --burger: #000000;
  --burger-height: 30px;
  --burger-width: 50px;
  --burger-spacing-top: 50px;
  --burger-spacing-left: 50px;
  --burger-spacing: 3px;
  --burger-transition-duration: 725ms;
  --navigation-animation-duration: 300ms;
  --navigation-background-opacity: 1;
}

* {
  margin: 0;
  padding: 0;
}

/* BODY */
body {
  font-family: "Space Mono", monospace;
  background-color: var(--primary);
  transition: background 0.4s ease-in;
}

.link-circle.hovered {
  opacity: 1 !important;
}

.link-circle.hovered::before {
  content: "";
  display: block;
  border: 2px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: -4px;
  position: absolute;
}

/* SECTION */
section {
  min-height: 100vh;
  height: 100vh;
}

/* HOME */
section#home {
  background: center / cover no-repeat url("../img/bg.svg");
}

/* BURGER */
.burger {
  background: transparent;
  z-index: 9;
  position: fixed;
  top: var(--burger-spacing-top);
  left: var(--burger-spacing-left);
  height: var(--burger-height);
  width: var(--burger-width);
  transition: all 0.3s ease-in-out;
}

/* cursor */
.burger:hover {
  cursor: none;
}

.burger:before,
.burger:after {
  background: var(--burger);
  backface-visibility: hidden;
  content: "";
  mix-blend-mode: difference;
  height: var(--burger-spacing);
  left: 0;
  transition: var(--burger-transition-duration);
  width: var(--burger-width);
}

.burger:before {
  box-shadow: var(--burger) 0 14px 0 0;
  position: absolute;
  top: 0;
}

.burger:after {
  position: absolute;
  top: calc(100% - 2px);
}

.burger.active {
  z-index: 9;
}

.burger.active:before {
  /* z-index: 9; */
  box-shadow: transparent 0 0 0 0;
  top: 50%;
  transform: rotate(225deg);
}

.burger.active:after {
  top: 50%;
  transform: rotate(315deg);
}

/* NAV */
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: var(--navigation-background-opacity);
  position: fixed;
  z-index: 4;
  height: 100vh;
  top: 0;
  width: 300px;
  margin-left: -200%;
  background-color: var(--primary);
}

.navigation.active {
  animation: showNavigation ease-in var(--navigation-animation-duration)
    forwards;
}

.navigation.hidden {
  animation: hideNavigation ease-in-out var(--navigation-animation-duration)
    forwards;
}

.navigation .links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.navigation .links .link {
  text-align: center;
}

.navigation .links .link a {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 47px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

.navigation .links .home a img {
  width: 60px;
  height: 60px;
}

@keyframes showNavigation {
  0% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes hideNavigation {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -200%;
  }
}

/* LOGOS */
.icons {
  height: auto;
  width: auto;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: fixed;
  gap: 10px;
}

/* anim */
.icons *:hover {
  opacity: 1;
  cursor: none;
}

/* size */
.icons a {
  max-height: 40px;
}

.icons img,
.icons a {
  height: 35px;
  width: 35px;
  opacity: 0.7;
}

.icons .theme {
  height: auto;
  width: 35px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  overflow: hidden;
  gap: 10px;
  background: linear-gradient(to right, #ffffff3c 50%, #ffffff3c 100%);
  background-size: 0% 100%;
}

.icons .theme .colors {
  height: 35px;
  width: auto;
  display: flex;
  gap: 6.5px;
  flex-direction: row;
}

.icons .theme.active {
  animation: showCircles 0.45s ease-in forwards;
  box-shadow: 0 0 0 6px #ffffff3c;
}

.icons .theme.hidden {
  animation: hideCircles 0.45s ease-in forwards;
}

@keyframes showCircles {
  0% {
    width: 35px;
    background-size: 0% 100%;
  }
  100% {
    width: calc(41px * 6);
    background-size: 100% 100%;
  }
}

@keyframes hideCircles {
  0% {
    background-size: 100% 100%;
    width: calc(41px * 6);
    box-shadow: 0 0 0 6px #ffffff3c;
  }
  100% {
    background-size: 0% 100%;
    width: 35px;
    box-shadow: 0 0 0 0px #ffffff3c;
  }
}

.icons .theme .colors .circle {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.icons .theme .colors .color1 {
  background-color: purple;
}

.icons .theme .colors .color2 {
  background-color: greenyellow;
}

.icons .theme .colors .color3 {
  background-color: skyblue;
}

.icons .theme .colors .color4 {
  background-color: lightsalmon;
}

.icons .theme .colors .color5 {
  background-color: linen;
}

/* HOME */
/* caroussel */
input[type="radio"] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.container {
  width: 60%;
  max-width: 800px;
  max-height: 600px;
  height: 80%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #song-1 img,
#item-2:checked ~ .cards #song-2 img,
#item-3:checked ~ .cards #song-3 img {
  box-shadow: 0px 0px 10px 0px rgba(81, 81, 81, 0.47);
}

section#view-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

/* PROFIL */
section#profil {
  min-height: auto;
  height: 97vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

section#profil .profil {
  max-width: 80vw;
  display: flex;
}

#profil .profil .right {
  flex: 2;
}

#profil .profil .right img {
  object-fit: contain;
}

#profil .profil .left {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

#profil .profil .left .me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}

#profil .profil .left .me span {
  max-width: 40%;
}

#profil .profil .left .me img {
  max-width: 300px;
}

#profil .profil .left .xp {
  text-align: center;
  font-size: 14px;
  background-color: var(--details);
  border-style: dotted;
  border-width: 1.5em;
  border-color: var(--details);
  box-shadow: -100px 80px 1px var(--primary);
}

#profil .profil .left .xp {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#profil .profil .left .xp .title {
  text-align: center;
  font-size: 18px;
  color: black;
}

/* section#project{ */
/* <!-- #Fabio Ottaviani / @supah / codepen --> */
.carousel {
  position: relative;
  z-index: 1;
  height: 97vh;
  overflow: hidden;
  pointer-events: none;
}
.carousel-item {
  --items: 10;
  --width: clamp(150px, 30vw, 300px);
  --height: clamp(200px, 40vw, 400px);
  --x: calc(var(--active) * 800%);
  --y: calc(var(--active) * 200%);
  --rot: calc(var(--active) * 120deg);
  --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
  overflow: hidden;
  position: absolute;
  z-index: var(--zIndex);
  width: var(--width);
  height: var(--height);
  margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  user-select: none;
  transform-origin: 0% 100%;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.5);
  background: black;
  pointer-events: all;
  transform: translate(var(--x), var(--y)) rotate(var(--rot));
  transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
}
.carousel-item .carousel-box {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  opacity: var(--opacity);
  font-family: "Orelo-sw-db", serif;
}

.carousel-item .title {
  position: absolute;
  z-index: 1;
  color: #fff;
  bottom: 20px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(20px, 3vw, 30px);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.carousel-item .num {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 10px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(20px, 10vw, 80px);
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

/* right text */
.layout {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.layout:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 90px;
  width: 10px;
  height: 100%;
  border: 1px solid #fff;
  border-top: none;
  border-bottom: none;
  opacity: 0.15;
}
.layout .box {
  position: absolute;
  bottom: -100px;
  left: 30px;
  transform-origin: 0% 10%;
  transform: rotate(-90deg);
  font-size: 100px;
}

.cursor {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1px solid var(--menu);
  margin: calc(var(--size) * -0.5) 0 0 calc(var(--size) * -0.5);
  transition: transform 0.85s cubic-bezier(0, 0.02, 0, 1);
  display: none;
  pointer-events: none;
}

.cursor.hidden {
  opacity: 0;
}

@media (pointer: fine) {
  .cursor {
    display: block;
  }
}
.cursor2 {
  --size: 2px;
  transition-duration: 0.7s;
}

/* FOOTER */
footer {
  min-height: 3vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
}

footer a {
  text-decoration: none;
  color: inherit;
}
