/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* VAR */
:root {
  /* colors */
  --grey: #e4dfd7;
  --beige: #f0ddc5;
  --black: #000;
  --pink: #f2d4bc;
  --fushia: #ef447b;
  --dark-pink: rgb(213 151 138);
  --green: #f5f5ef;
  --dark-green: #d7d4c7;
  --black-green: rgb(43 63 61);
  /* size */
  --profil-img-size: 500px;
  /* font */
  --text: "Roboto Mono", monospace;
  --text2: "Rajdhani", sans-serif;
  --title: "Mrs Saint Delafield", cursive;
  --sara: "Fleur De Leah", cursive;
}
/* margin */
.first-element {
  margin-top: 200px;
}
.end {
  margin-bottom: 200px;
}

body {
  font-family: var(--text2);
}

/* BG */
body#homeBG {
  background: center / cover no-repeat url("../img/home-background.svg");
}
body#profilBG {
  background: center / cover no-repeat url("../img/profil-background.svg");
}
body#contactBG {
  background: center / cover no-repeat url("../img/contact-background.svg");
}

/* NAVBAR */
.navbar {
  /* size */
  width: 100%;
  height: 70px;
  /* bg */
  background-color: var(--pink);
  /* position */
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 0;
  position: fixed;
}

/* box */
.navbar .box {
  /* size */
  width: 1280px;
  height: 60px;
  /* position */
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

/* uppercases */
.navbar .navbar_title a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-family: var(--text2);
  font-size: 25px;
}

.navbar .navbar_title.home-icon {
  margin-top: 10px;
}

/* MAIN */

/* home */
main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

/* img */
main .home img {
  width: var(--profil-img-size);
  height: var(--profil-img-size);
  max-width: var(--profil-img-size);
  max-height: var(--profil-img-size);
}

/* name */
main .name {
  max-height: 150px;
  font-family: var(--sara);
  font-weight: 400;
  color: var(--black);
  font-size: 150px;
}

/* description */
#home .me {
  max-width: 380px;
  height: auto;
  font-family: var(--text2);
  font-size: 22px;
  line-height: 1.2;
  text-align: left;
}

#home .me p {
  margin-left: 100px;
}

/* PROFIL */
/* skills */
#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* skills title */
#skills h2 {
  font-family: var(--text2);
  font-size: 30px;
  font-weight: normal;
  text-decoration: underline;
}
/* skills img */
#skills img {
  width: 900px;
  margin-bottom: 30px;
}

/* xp */
#xp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* xp title */
#xp h2 {
  font-family: var(--text2);
  font-size: 30px;
  font-weight: normal;
  text-decoration: underline;
  margin-bottom: 30px;
}

/* xp texte */
#xp div {
  max-width: 525px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
}

#xp div p {
  font-family: var(--text2);
  font-size: 22px;
  font-weight: normal;
  text-align: left;
  line-height: 2;
}

#xp div span {
  background-color: var(--fushia);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
}

/* CONTACT */
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 250px;
}

#contact h2 {
  font-family: var(--text2);
  font-size: 30px;
  font-weight: normal;
  text-decoration: underline;
  margin-bottom: 70px;
}

#contact .box input{
width: 900px;
height: 60px;
margin-bottom: 30px;
padding: 15px;
background-color: var(--pink);
border: none;
border-radius: 30px;
}

#contact .box .button{
width: 100%;
height: 60px;
display:flex;
justify-content: center;
}

#contact .box .button button{
background-color: var(--pink);
max-width: 150px;
width: 100%;
height: 100%;
border: none;
border-radius: 30px;
}